<html>
    <head>
    </head>
    <body>

        <div id="post">
            <p id='1'>Aqui é o meu primeiro comentário</p>
        </div>
        <button id="editar"   onclick="editarTexto( )" style="Display: block">Editar Comentário</button>
        <button id="aceitar"  onClick="confirmaTexto( )" style="Display: none">Alterar</button>
        <button id="cancelar" onClick="retornaTexto( )"style="Display: none">Cancelar</button>

    </body>
    <script type="text/javascript">
        var textoAntigo;

        function editarTexto( )
        {
            var p = document.getElementById('1');
            var div = document.getElementById('post');
            textoAntigo = p.innerText;

            div.innerHTML = "<textArea id='1'>"+ textoAntigo +"</textArea>";
            document.getElementById("editar").style.display = "none";
            document.getElementById("aceitar").style.display = "block";
            document.getElementById("cancelar").style.display = "block";
        }

        function retornaTexto( )
        {
            escreveTexto( textoAntigo );
        }

        function confirmaTexto( )
        {
            var textArea = document.getElementById('1');
            texto = textArea.value;
            escreveTexto( texto );
        }

        function escreveTexto( texto )
        {
            var div = document.getElementById('post');

            div.innerHTML = "<p id='1'>"+ texto +"</p>";
            document.getElementById("editar").style.display = "block";
            document.getElementById("aceitar").style.display = "none";
            document.getElementById("cancelar").style.display = "none";
        }
    </script>
</html>
