{% extends "network/layout.html" %}

{% block body %}
  <h1>All Posts</h1>
  <hr>
  <h1>{{Message}}</h1>


  <div class="container" style="width:90%; ">
      <h3>What are you thinking  {{request.user}}?</h3>
      <form class="form-control" method="post" style="border: 2px solid #004d00 ;">
          {% csrf_token %}
          <br>
          <p>  {{ NewPostForm }} </p>
          <p><button type="Submit" id="newpost" name="newpost">Post</button></p>
          <br>
      </form>
  </div>
  <form>
      {% csrf_token %}
  {% if AllPosts|length > 0 %}
      {% for A in AllPosts %}
          <div class="container" style="width:90%; position:relative; top:100px;background-image: linear-gradient(to top left, white, gray,black );">
              <div class="row"  width="1700px">
                  <div class="col-lg-3">
                      <p>   {{A.username}}  </p>
                      <br>

                      <img src=" {{A.Avatar.url}} "  width="200">
                      <br>
                      </div>
                      <div class="col-lg-4">
                           <p> {{A.Post}} </p>
                      </div>
                      <div class="col-lg-3">
                             <p> {{A.Date}} </p>
                             <p> {{A.Likes}}  <i class="fas fa-thumbs-up"></i> <i class="far fa-thumbs-up"></i>
                                 {{A.Unlikes}} <i class="fas fa-thumbs-down"></i>  <i class="far fa-thumbs-down"></i>
                             </p>
                      </div>
                      <div class="col-lg-2">
                      </div>
                  </div>
              </div>
              <hr>
      {% endfor %}
  {% endif %}
  </form>
  {% endblock %}
