{% extends "network/layout.html" %}

{% block body %}
    <br>
    <h2 style="text-align: center;">Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'network:login' %}" method="post" style="text-align: center;">
        {% csrf_token %}
        <div class="form-group" style="margin:auto; width: 50%;">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <br>
        <div class="form-group" style="margin:auto; width: 50%;">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <br>
        <div class="form-group" style="align-items: center;" >
             <input class="btn btn-primary" type="submit" value="Login">
             Don't have an account? <a href="{% url 'network:register' %}">Register here.</a>
        </div>
    </form>



{% endblock %}
