{% extends "network/layout.html" %}
{% load static %}

{% block body %}
  <h1>{{ User|title }}´s Profile</h1>

  <hr>

  <div class="form-group" >
      <form >
      {% csrf_token %}
      {% for P  in Profiles %}
            <div class="container" style="border:#004d00; width:90%" >
                 <br>
                 <div class="row"  width="1700px" style="text-align: center;">
                      <div class="col-lg-2" >
                           <h3>{{P.User |title}}</h3>
                      </div>
                      <div class="col-lg-4">
                           <img src=" {{P.Avatar.url}} "  width="200" style="text-align: center;" alt={{P.Avatar}}>
                      </div>

                       <div class="col-lg-3" style="text-align: center;">
                            <h3>Total Followers    </h3>
                            <h3 >{{TotalFollowers}} </h3>
                            <br>
                            <h3>Total Following    </h3>
                            <h3>{{TotalFollowing}} </h3>
                        </div>
                        {% if ShowFollowornot == "yes" %}
                               <div class="col-lg-3"  id="Follow" style="text-align: center;">
                                    <br>
                                    <input type="hidden" id="profile_id"  value ={{P.id}} >
                                    <input type="hidden" id="profile_username"  value ={{P.User}} >
                                    <input type="hidden" id="search_id" value ={{user.id}} >
                                    <input type="hidden" id="search_username" value ={{user.username}} >
                                    <button type="Submit" id="follow_me"  value={{btnfollow}} > {{btnfollow}}   </button>
                                    <br>
                               </div>
                        {% endif %}

              </div>
            </div>
      {% endfor %}
    </form>
</div>
<!-- __________________________________POSTS______________________________________________-->

<div class="container" style="border:#004d00; width:100%">
    {%for Post in page_obj %}
        <div class="container" style="position:relative; top:100px;background-image: linear-gradient(to top left, white, gray,	 #000033 );">
              <div class="row">
                  <div class="col-lg-1" style="text-align: center;">
                    <p> {{ Post.User |title }} </p>
                    <input type="hidden" id="postid-{{Post.id}}"  value ={{Post.id}} >
                    <input type="hidden" id="pagename-{{Post.id}}" value ="profile" >
                    <input type="hidden" id="oldpost-{{Post.id}}" value={{Post.Post}} >
                    {% if UserEdit|title == Post.User|title %}
                       <p> <a href="" id="edit-{{Post.id}}" onclick="editpost({{Post.id}},'profile')"> Edit Post  </a></p>
                    {% endif %}
                  </div>
                  <div class="col-lg-4" style="text-align: center;">

                        <div id="post-{{Post.id}}"  >
                            <p id={{Post.id}}> {{Post.Post}} </p>
                        </div>
                  </div>

                  <div class="col-lg-1" style="text-align: center;">
                        {% if Post.Likes == None%}
                               <p> 0 <i class="fas fa-thumbs-up"></i></p>
                        {% else %}
                               <p> {{ Post.Likes  }}  <i class="fas fa-thumbs-up"></i></p>
                        {% endif %}
                   </div>
                   <div class="col-lg-1" style="text-align: center;">
                        {% if Post.Unlikes == None%}
                              <p> 0 <i class="fas fa-thumbs-down"></i></p>
                        {% else %}
                              <p> {{ Post.Unlikes }}  <i class="fas fa-thumbs-down"></i></p>
                        {% endif %}
                   </div>
                   <div class="col-lg-3">
                             <p> {{Post.Date}} </p>
                   </div>
                   <div class="col-lg-2">
                             <p> falta like, deslike</p>
                               {{Post.id}}

                               <div id="likes-{{Post.id}}">
                             </div>
                   </div>
              </div>
        </div>
        <br>
    {% endfor %}

    <br>
    <hr>



  <!------------------------Paginator-------------------------------------->
    <form>
       <div class="container" >
          <ul class="pagination justify-content-center"  >
              {% if page_obj.has_previous %}
                        <li class="page-item"><a href="?page=1" class="page-link" style="background-color:#e6ffff;">&laquo; First</a></li>
                        <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link" style="background-color:#e6ffff;">Previous</a></li>
              {% else %}
                    <li class="page-item disabled"><a class="page-link" style="background-color:#e6ffff;">&laquo; First</a></li>
                    <li class="page-item disabled"><a class="page-link" style="background-color:#e6ffff;">Previous</a></li>
              {% endif %}
              {% if page_obj.number %}
                    <li class="page-item"><a class="page-link" style="background-color:#e6ffff;">{{ page_obj.number }}</a></li>
              {% else %}
                    <li class="page-item"><a class="page-link" style="background-color:#e6ffff;">0</a></li>
              {% endif %}
              {% if page_obj.has_next %}
                    <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link" style="background-color:#e6ffff;">Next</a></li>
                    <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link" style="background-color:#e6ffff;">Last &raquo;</a></li>
              {% else %}
                    <li class="page-item disabled"><a class="page-link" style="background-color:#e6ffff;">Next</a></li>
                    <li class="page-item disabled"><a class="page-link" style="background-color:#e6ffff;">Last &raquo;</a></li>
              {% endif %}
        </ul>
      </div>
    </form>
</div>

  {% block script %}

      {% if ShowFollowornot == "yes" %}
         <script type="text/javascript" src="{% static 'network/follow.js' %}" ></script>
      {% endif %}
        <script type="text/javascript" src="{% static 'network/editpost.js' %}" ></script>
  {% endblock %}
{% endblock %}
