{% extends "network/layout.html" %}

{% block body %}

    <h2 style="text-align: center;">Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'network:register' %}" method="post" style="text-align: center;">
        {% csrf_token %}
        <div class="form-group" style="margin:auto; width: 50%;">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <br>
        <div class="form-group" style="margin:auto; width: 50%;">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
          <br>
        <div class="form-group" style="margin:auto; width: 50%;">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
          <br>
        <div class="form-group" style="margin:auto; width: 50%;">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
          <br>
        <div class="form-group" style="margin:auto;">
              {{CreateProfileForm}}
        </div>
        <br>

        <div class="form-group" style="text-align: center;">
             <input class="btn btn-primary" type="submit" value="Register">
             Already have an account? <a href="{% url 'network:login' %}">Log In here.</a>
        </div>
    </form>



{% endblock %}
