body {
      padding: 10px;
      color:  #e6ffff ;
      background-color: #000033;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;

    }

h1 {

  text-align: center;
}

/*#ibeforeup{
  <i class="far fa-thumbs-up"></i>
}
#ibeforedown{
  <i class="far fa-thumbs-down"></i>

}*/

@media screen and (max-width: 600px)
       {  body { background-color: White;
                 color: #000033; }
       }
