body {
      padding: 10px;
      color:  #e6ffff ;
      background-color: black;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: 100%;

    }

h1 {

  text-align: center;
}

/*#ibeforeup{
  <i class="far fa-thumbs-up"></i>
}
#ibeforedown{
  <i class="far fa-thumbs-down"></i>

}*/
